@model OCER.Models.Equipment
@*<tr>
    <td>
        @Html.CheckBoxFor(model => model.IsSelected)
    </td>
    <td>
        @Html.HiddenFor(model => model.Name)
        @Model.Name
    </td>
    <td>
        @Html.HiddenFor(model => model.EquipmentType)
        @Model.EquipmentType
    </td>
    <td>
        @Html.EditorFor(model => model.RentDays)
    </td>
</tr>*@
